<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32644345180-nsafbkujiiub12nudltvq0ng7djsm3sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32644345180-nsafbkujiiub12nudltvq0ng7djsm3sv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>32644345180-qqadgi1c91fo0qnehrna1i7refo4tqoc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiXM1LvSjoZrRUBrhB2zzQrGRhEaDWFqM</string>
	<key>GCM_SENDER_ID</key>
	<string>32644345180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopInitAdmin</string>
	<key>PROJECT_ID</key>
	<string>sho-pinit</string>
	<key>STORAGE_BUCKET</key>
	<string>sho-pinit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32644345180:ios:22285baab762ca182a2599</string>
</dict>
</plist>